*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Noto Serif', serif;
    font-family: 'Orbitron', sans-serif;
    box-sizing: border-box;

    
}
// HEADER
header{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: black;
    color: white;
}
    .blinker{
        position: relative;
    }
    .blinker::before{
        content: "";
        top: 0;
        right: 0;
        font-size: 4rem;
        height: 5rem;
        position: absolute;
        width: 2.5rem;
        background-color: blue;
        animation: blinkCursor 0.5s step(3) infinite;
    }
    @keyframes blinkCursor {
        0%{
            opacity: 0;
        }
        50%{
            opacity: 0.5;
        }
        100%{
            opacity: 1;
        }
    }
    .line-1{
        position: relative;
        font-size: 4rem;
    }
    .line-2{
        
       position: relative;
       font-size: 4rem;
    }



 
     
    







        

// SECCION CONOCIMIENTOS
// .conocimientos{
//     display: flex;
//     align-items: center;
//     background-color: #D5D8DC;
//     height: 100vh;
//     .conocimientos-icons{
//         display: flex;
//         justify-content: space-around;
//         align-items: center;
//         background-color: white;
//         border-radius: 15px;
//         height: 30rem;
//     .htmlicon{
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         height: 15rem;
//         width: 10rem;
//         border-style: solid;
//         border-color: #e34c26;
//     }
//     .fa-html5{
//         color: #e34c26;
//     }   
//     .fa-css3-alt{
//         color: #264de4;
//     }
//     .fa-js{
//         color: yellow;
//     }
//     .fa-bootstrap{
//         color: #6610f2;
//     }
//     .fa-git-alt{
//         color: orangered;
//     }
// }